.checkoutProduct {
    display: flex;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: .1px solid #f3eeee;
}

.checkoutProduct__category {
    font-style: italic;
    color: gray;
    font-size: small;
}

.checkoutProduct__info {
    padding-left: 20px;
    flex: 0.65;
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 18px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct__star {
    color: #f9d524;
}

.checkoutProduct__image {
    object-fit: contain;
    flex: 0.35;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
}